h4 {
    font-family: 'Lobster', cursive;
}

#loginForm {
    margin: 30px 0px 5px 350px;
    background-color: wheat;
    padding: 15px;
    border: 3px solid black;
    height: 275px;
    width: 400px;
}

#userForm {
    margin: 30px 0px 5px 350px;
    background-color: wheat;
    padding: 15px;
    border: 3px solid black;
    height: 455px;
    width: 400px;
}

#createForm {
    margin: 30px 0px 5px 200px;
    background-color: wheat;
    padding: 15px;
    border: 3px solid black;
    height: 755px;
    width: 400px;
}

#categoryCreate {
    margin: 5px;
    width: 355px;
    height: 35px;
}

#siteView {
    margin: 30px 0px 5px 300px;
    background-color: wheat;
    padding: 15px;
    border: 3px solid black;
    height: 755px;
    width: 600px;
}

.userSites {
    margin: 0px 0px 5px 100px;
}

#register {
    margin: 100px 0px 5px 330px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

#account {
    color: black;
}

#account:hover {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.l-box {
    padding: 1em;
}

.filter-item {
    margin: 10px 20px 10px 20px;
}

.splash-container {
    background:lightblue;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    position: absolute !important;
}

.splash {
    width: 50%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid black;
    background-color: wheat;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color:black;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.splash-subhead {
    color: black;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
}

.pure-button {
    background-color:lightgrey;
    color: black;
    border-radius: 5px;
}

a.pure-button-primary {
    background: lightgrey;
    color: black;
    border-radius: 5px;
    font-size: 120%;
}

.content-wrapper {
    position: absolute;
    top: 70%;
    width: 73%;
    z-index: 2;
    height: auto;
    background: wheat;
    margin-bottom: 40px;
    border: 3px solid black;
    text-align: center;
    
}

.content {
    padding: 1em 1em 3em;    
    font-family: 'Poppins', sans-serif;

}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    font-family: 'Poppins', sans-serif;

}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color:black;
    font-family: 'Poppins', sans-serif;
}
    .content-subhead i {
        margin-right: 7px;
    }

table {
    margin-left:auto; 
    margin-right:auto;
}

    /* CSS for Website page */

#webTitle {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50PX;
    text-decoration: underline;
}

.webInfo {
    background-color: wheat;
    border: 3px solid black;
    padding: 15px;
    margin: 15px;
    height: 420px;
}

.webInfo-title {
    text-align: center;
    font-family: 'Lobster', cursive;
    text-decoration: underline;
}

.comments {
    background-color: lightgrey;
    border: 3px solid black;
    padding: 5px;
    margin: 10px;
}

a {
    color: black
}

.webImage {
    width: 250px;
    height: auto
}