.navbar {
    background-color: wheat;
    color: black;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navbar:hover {
    text-decoration: none;
    color:black;
}

.nav-home {
    color: black;
    /* margin-left: 65vw; */
    font-size: 4vh;
    font-family: 'Lobster', cursive;
}

.nav-item {
    color: black;
    /* margin-left: 35px; */
    font-size: 4vh;
    font-family: 'Lobster', cursive;
}

.nav-home:hover {
    text-decoration: none;
    color:black;
}

.nav-item:hover {
    text-decoration: none;
    color:black;
    background-color: wheat;
}