.navbar {
    background-color: wheat;
    color: black;
    height: 15vh;
    font-size: 8vh;
    font-family: 'Lobster', cursive;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navbar:hover {
    text-decoration: none;
    color:black;
}

.nav-home {
    color: black;
    margin-left: 65vw;
    font-size: 4vh;
    font-family: 'Lobster', cursive;
}

.nav-login {
    color: black;
    margin-left: 35px;
    font-size: 4vh;
    font-family: 'Lobster', cursive;
}

.nav-home:hover {
    text-decoration: none;
    color:black;
}

.nav-login:hover {
    text-decoration: none;
    color:black;
}